<html ng-app="module">

<link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css" media="screen" title="no title" charset="utf-8">

<body>



<div ng-controller="ExampleController" ng-init="init()">


<div class="container">
  <h1>Example</h1>
  <h4>Elastic Search</h4>

  <form name="form" id="form" class="form-horizontal" enctype="multipart/form-data" method="POST">

    <div class="form-group">
      <pre>Model: {{asyncSelected | json}}</pre>
 </div>

 <div class="form-group">
   <label>Criterio</label>
   <input type="text" ng-model="criteria" placeholder="Criteria" class="form-control">

 </div>
 <div class="form-group">
   <label>Busqueda</label>
   <input type="text" ng-model="asyncSelected" placeholder="Locations loaded via $http"
      typeahead='item as item.NOMBRE for item in search(criteria,$viewValue)'
      typeahead-loading="loadingLocations" class="form-control">
   <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>

 </div>

 </form>
</div>
</div>

  <script src="../bower_components/angular/angular.js" charset="utf-8"></script>
  <script src="../bower_components/angular-bootstrap/ui-bootstrap.js" charset="utf-8"></script>
  <script src="../bower_components/angular-bootstrap/ui-bootstrap-tpls.js" charset="utf-8"></script>
  <script src="../dist/angular-elastic-search.min.js" charset="utf-8"></script>
  <script src="app.js" charset="utf-8"></script>

</body>
</html>
